<ion-modal-view>

    <ion-content class="padding">

        <br>
        <br>
        <br>

        <h2 style="text-align: center;" class="balanced">
            <i style="font-size: 35px;" class="icon ion-social-linkedin balanced"></i>

            Bye Bye LinkedIn
        </h2>

        <br>
        <p>
            Github has all the features of LinkedIn, without
            all the recruiter <b>noise</b>. This app provides mobile
            tools to let you manage your follows and followings. It
            was built out of a need to find and follow developers
            at tech conferences, without using linkedin.
        </p>

        <br>
        
        <b>
            You can...
        </b>

        <ol class="padding">
            <li>
                 <i class="icon ion-checkmark-round balanced"></i>
                 &nbsp;
                 Find and Follow Gh users.
            </li>
            <li>
                 <i class="icon ion-checkmark-round balanced"></i>
                 &nbsp;
                 List who is following you
            </li>
            <li>
                 <i class="icon ion-checkmark-round balanced"></i>
                 &nbsp;
                 List who you are following
            </li>
            <li>
                 <i class="icon ion-checkmark-round balanced"></i>
                 &nbsp;
                 Find and Follow Gh users.
            </li>
        </ol>

        <br>
        <br>
        <br>
        <br>
        <br>

        <button class="padded button button-block ion-social-github button-balanced" ng-click="login()">
          Signin with Github
        </button>

    </ion-content>
  </ion-modal-view>
